

<div class="b1">
  <h1 style="font-weight: 400;">Storya Initial Del Passion</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<div class="b2">
  <div class="mobile-profile-photo">
    <app-profile-photo [sizePx]=200></app-profile-photo>
  </div>

  <div class="desktop-profile-photo">
    <app-profile-photo></app-profile-photo>
  </div>

  <div class="b2__b2">
    <ul>
      <li>Prima vocibus repudiandae</li>
      <p>
        Incididunt iudico legere dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam.
      </p>

      <li>Salutatus efficiendi veniam</li>
      <p>
        Incididunt iudico legere dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam.
      </p>
      <li>Minimum fierent</li>
      <p>
        Incididunt iudico legere dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam.
      </p>
    </ul>
  </div>
</div>
