<div class="desktop">
  <div class="b1">
    <div class="b1__b1">
      <div class="first-row">
        <mat-icon>location_on</mat-icon>
      </div>
      <div class="first-row">
        <mat-icon>mail</mat-icon>
      </div>
      <div class="first-row">
        <mat-icon>phone</mat-icon>
      </div>

      <div class="second-row">
        <a
          href="https://www.google.com/maps?ll=43.660883,7.173897&z=18&t=m&hl=en&gl=FR&mapclient=embed&q=8+Chem.+du+Val+Fleuri+06800+Cagnes-sur-Mer"
          >{{ address }}</a
        >
      </div>
      <div class="second-row">
        <a href="mailto:webefficace@yahoo.com">{{ email }}</a>
      </div>

      <div class="second-row">
        <a href="tel:0604497115">{{ phone }}</a>
      </div>
    </div>
    <div class="lone-item column-center">
      © 2023 - Lorem Ipsum - Itsum Sportariore
    </div>
  </div>
</div>

<div class="mobile">
  <div class="b1">
    <div class="b1__b1">
      <div class="item border-right">
        <mat-icon>location_on</mat-icon>
      </div>
      <div class="item">
        <a
          href="https://www.google.com/maps?ll=43.660883,7.173897&z=18&t=m&hl=en&gl=FR&mapclient=embed&q=8+Chem.+du+Val+Fleuri+06800+Cagnes-sur-Mer"
          >{{ address }}</a
        >
      </div>

      <div class="item border-right">
        <mat-icon>mail</mat-icon>
      </div>

      <div class="item">
        <a href="mailto:webefficace@yahoo.com">{{ email }}</a>
      </div>

      <div class="item border-right">
        <mat-icon>phone</mat-icon>
      </div>

      <div class="item">
        <a href="tel:0604497115">{{ phone }}</a>
      </div>

      <div class="item border-right blue-bg">
        <a href="tel:0604497115">© 2023 - Lorem Ipsum - Itsum Sportariore</a>
      </div>

      <div class="item"></div>
    </div>
    <!--<div class="lone-item column-center">
      <div class="lone-item__1 row-center">© 2023 - Lorem Ipsum - Itsum Sportariore</div>
      <div></div>
    </div>-->
  </div>
</div>
