<app-image-slider></app-image-slider>

<app-text-basic title="Verterem volutpat decore">
  Classico nusquam legendos sit amet, sportiva adipiscing elito, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur.</app-text-basic
>

<app-features-list></app-features-list>

<app-icons-grid [items]="iconGridItems"></app-icons-grid>

<app-clients-banner></app-clients-banner>

<app-acces-map></app-acces-map>
