<mat-list>
  <div mat-subheader>Principor adipiscing elit</div>

  <mat-list-item>
    <mat-icon mat-list-icon>task_alt</mat-icon>
    <div mat-line>Magna aliqua</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>task_alt</mat-icon>
    <div mat-line>Deserunt mollit</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>task_alt</mat-icon>
    <div mat-line>Aute irure</div>
  </mat-list-item>
</mat-list>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
  eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
  in culpa qui officia deserunt mollit anim id est laborum.
</p>

<mat-divider></mat-divider>
