

<div class="b1">
  <div class="b1__b1">
    <div class="title padding-sides">Storya Initial Del Passion</div>

    <div id="light">
      <div id="lineh1"></div>
    
      <div id="lineh2"></div>
    </div>

    <p class="padding-sides">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  
  <div class="b1__b2 row-center padding-sides">
    <ul>
      <li>Prima vocibus repudiandae</li>
      <p>
        Vitoria iudico legere dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam.
      </p>

      <li>Salutatus efficiendi veniam</li>
      <p>
        Elizora iudico legere dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam.
      </p>
      <li>Minimum fierent</li>
      <p>
        Suolai iudico legere dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam.
      </p>
    </ul>
  </div>
</div>
